@import "variables";

@mixin flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin buttonStyle {
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background-color: $purple-color;
}
@mixin fontStyle($fFamily, $weight, $fSize, $lHeight){
    font-family: $fFamily;
    font-style: normal;
    font-weight: $weight;
    font-size: $fSize;
    line-height: $lHeight;
}