@import "reset";
@import "mixins";
@import "variables";
@import "fonts";

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding: 0 16px;
    height: 100%;
}

.header {
    height: 103px;
    background-color: rgba(39, 38, 42, 1);
    position: relative;

    &__container {
        // @include flexBox;
        height: 100%;
    }

    &__navbar {
        // @include flexBox;
        height: 100%;
    }

    &__burger {
        display: flex;
        align-items: center;
        width: 26px;
        height: 21px;
        position: relative;
        cursor: pointer;
    }

    &__drop-menu {
        // по дефолту випадаюче меню не видно
        display: none;
        position: absolute;
        // ставимо z-index: 999 щоб випадаюче меню завжди було на передньому плані
        z-index: 999;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: rgba(51, 51, 51, 1);
        // пишемо min-width: 290px щоб випадаюче меню займало достатню ширину
        min-width: 290px;
        box-shadow: 0 14px rgba(51, 51, 51, 1);
        animation: burgerAnimation .4s;
    }

    &__drop-list li {
        padding: 29px 0px 21px 35px;
        border-bottom: 3px solid rgba(59, 59, 59, 1);
    }

    &__drop-list li a {
        text-decoration: none;
        color: $white-color;
        font-size: 26px;
        line-height: 26px;
        position: relative;
    }

    &__drop-list li a:active, &__drop-list li a:focus {
        color: $purple-color;
    }

    &__drop-list li a:active::before, &__drop-list li a:focus::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 53px;
        background-color: $purple-color;
        bottom: 50%;
        transform: translate(0, 43%);
        left: -33px;
    }

    &__logo-img {
        width: 43px;
        height: 41px;
        background: url('../src/img/fork-app-logo.png') center/cover no-repeat;
        transition: .3s ease;
    }
}

.header__burger span {
    width: 100%;
    height: 2px;
    background-color: $white-color;
    border-radius: 5px;
    transition: all 0.4s ease;
}

// Анімація для бургера
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $white-color;
    border-radius: 5px;
}

.header__burger::after {
    transition: all 0.3s ease;
}

.header__burger::before {
    width: 15px;
    top: -1px;
    transform: scale(1);
}

.header__burger.active::before {
    transform: scale(0);
}

.header__burger.active::after {
    position: absolute;
    bottom: 50%;
    transform: rotate(-45deg) translate(0, 50%);
    border-radius: 0;
}

.header__burger.active span {
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
    border-radius: 0;
}

.button {
    @include buttonStyle;
    font-family: 'Montserrat', sans-serif;
}

.button--buy {
    padding: 11px 22px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: $white-color;
    transition: .3s ease;
}

.app-introduction {
    background: url("../src/img/section-app-introduction-background.png") center/cover no-repeat;
    height: 614px;
    // ставимо position: relative для абсолютного позиціонування кнопки download for free 
    position: relative;
    // min-width: 320px;

    &__container {
        @include flexBox;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: rgba(255, 255, 255, 1);
        padding: 60px 0 19px 0;
    }

    &__description {
        font-size: 18px;
        line-height: 24px;
        color: $purple-color;
        text-align: center;
        padding: 0 0 14px 0;
    }

    &__description--other-style {
        // по дефолту цей текст скритий
        display: none;
        @include fontStyle('Lato', 400, 24px, 24px);
        text-align: center;
        color: $purple-color;
        padding: 0 0 19px 0;
    }
}

// стилі для тексту //
.main-text {
    font-size: 14px;
    line-height: 14px;
    color: $grey-color;
}

.main-text--versions {
    text-transform: uppercase;
    padding: 0 0 14px 0;
}

.main-text--trial-period {
    text-align: center;
    padding: 35.5px 0 79.5px 0;
}

.button--download {
    color: $white-color;
    padding: 13px 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    min-width: 300px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: .3s ease;
}

.header__logo-link {
    text-decoration: none;
    @include flexBox;
    gap: 17px;
}

.header__logo-text {
    // по дефолту не показується текст FOKIO
    display: none;
    @include fontStyle('Lato', 700, 24px, 16px);
    color: rgba(141, 129, 172, 1);
    transition: .3s ease;
}

.header__logo-and-btn-container {
    @include flexBox;
    height: 100%;
}

.header__menu {
    // по дефолту не показуються вкладки
    // display: none;
}

.header__list li a{
    text-decoration: none;
    color: $purple-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    transition: .3s ease;
}

.button--for-big-monitors {
    // ховаємо кнопку що буде на екрані справа на великих моніторах
    display: none;
}

.header__list li:hover a{
    color: $white-color;
}

.button.button--buy.button--for-big-monitors:hover,
.button.button--buy:hover,
.button.button--download:hover {
    background-color: $white-color;
    color: $purple-color;
    border: 1px solid $purple-color;
    box-sizing: border-box;
}

.button.button--download:hover {
    border: 2px solid $purple-color;
}

.header__logo-link:hover .header__logo-text {
    color: $white-color;
}

.header__logo-link:hover .header__logo-img {
    background: url('../src/img/fork-app-logo-hover.png') center/cover no-repeat;
}

// ----- PEOPLE ARE TALKING ABOUT FORK SECTION ----- //
.mentions-about-fork {
    position: relative;    
    background: url('../src/img/people-are-talking-about-fork-background.png') center/cover no-repeat;

    &__title {
        @include fontStyle('Montserrat', 700, 36px, 48px);
        text-align: center;
        color: $white-color;
        padding: 57px 0 53px 0;
    }

    &__quote {
        @include flexBox;
        flex-direction: column;
        gap: 33px;
    }

    &__text {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $white-color;
        padding: 0 0 45px 0;
    }

    &__text--other-padding {
        padding: 0 0 37px 0;
    }

    &__footer {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: rgba(162, 145, 165, 1);
        padding: 0 0 22px 0;
        box-sizing: border-box;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 245px;
        background-color: rgba(100, 87, 102, 1);
    }
}

.revolutionary-editor{
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title__revolution{
            @include fontStyle('Montserrat',700, 54px, 54px);
            text-transform: uppercase;
            color: #635C73;
            padding-bottom: 35px;
            text-align: center;
        }
        .describe__revolution{
            @include fontStyle('Lato',400, 21px, 32px);
            color: #323232;
            max-width: 861px;
            text-align: center;
        }
        .github__buttons{
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: center;
            padding: 20px 0px 70px 0px;
            .btn__github{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 150px;
                height: 28px;
                background: #F4F4F4;
                border:1px solid #cfcfcf;
                border-radius: 3px;
                margin-right: 15px;
                .left__content{
                    margin: 0 auto;
                    width: 100%;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        width: 100%;
                        .text__btn__github{
                            @include fontStyle('Lato', 700, 16px, 16px);
                            padding-left: 5px;
                            color: #000000;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .text__count{
                    @include fontStyle('Lato', 700, 13px, 13px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 65%;
                    height: 100%;
                    background-color: #ffffff;
                    float: right;
                    border-left: 1px solid #cfcfcf;;
                }
            }
        }
    }
}
.here-is-what-you-get{
    background-color: #F4F4F4;
    padding: 100px 0px 33px 0px;
    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 46px 520px;
        row-gap: 19px;
        .here-is-what-you-get__title-main{
            display: none;
        }
        .here-is-what-you-get__title{
            @include fontStyle('Montserrat', 700, 48px, 50px);
            color: #8D81AC;
            padding-left: 20px;
        }
        .block-image{
            margin: 0 auto;
            max-width: 700px;
            img{
                max-width: 100%;
            }
        }
        .block-about{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            row-gap: 34.7px;
            grid-row: 1 / 3;
            max-width: 536px;
            .part{
                display: flex;
                gap: 23px;
                align-items: center;
                max-width: 524px;
                justify-content: space-between;
                .img-section{
                    min-width: 111px;
                    display: flex;
                    justify-content: center;
                }
                .main-text{
                    display: flex;
                    flex-direction: column;
                    row-gap: 17px;
                    max-width: 390px;
                    .part-title{
                        @include fontStyle('Montserrat', 400, 16px, 21px);
                        color: #323232;
                    }
                    .part-describe{
                        max-width: 405px;
                        @include fontStyle('Montserrat', 400, 14px, 21px);
                        color: #848E97;
                    }
                }
            }
        }
    }
}
.fork-subscription-pricing{
    background: url('../src/img/fork-subscription-pricing-bg.png') center/cover no-repeat;
    .fork-subscription-pricing-title{
        @include fontStyle('Montserrat', 700, 48px, 50px);
        color: #FFFFFF;
        padding-top: 61px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .fork-subscription-pricing-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        padding: 62px 0px 149px 0px;
        .active{
            position: relative;
            width: 299px;
            height: 560px;
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0.84;
                background: #463048;
            }
            .fork-subscription-pricing-cards-card-title{
                position: relative;
                display: flex;
                justify-content: center;
                height: 97px;
                width: 100%;
                color: #FFFFFF;
                z-index: 2;
                &::before{
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0.11;
                    background: #000000;
                }
                p{
                    @include fontStyle('Montserrat', 400, 24px, 24px);
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    z-index: 2;
                }
            }
            .fork-subscription-pricing-mainText{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 30px;
                z-index: 2;
                .price{
                    display: flex;
                    @include fontStyle('Montserrat', 700, 82px, 90px);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &:before{
                        content: '$';
                        font-weight: 400;
                    }
                }
                .date-description{
                    @include fontStyle('Montserrat', 400, 16px, 18px);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding-top: 20px;
                }
                .line-wrapper{
                    width: 100%;
                    margin: 38px auto 0px auto;
                    .line{
                        margin: 0 auto;
                        height: 5px;
                        width: 60px;
                        background-color: #8D81AC;
                    }
                }
                .united-section{
                    height: 208px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .subscription-decription{
                        @include fontStyle('Montserrat', 400, 16px, 18px);
                        color: #FFFFFF;
                        padding-top: 36px;
                        text-align: center;
                        max-width: 210px;
                    }
                    .button-purchase{
                        position: relative;
                        @include fontStyle('Montserrat', 400, 15px, 15px);
                        width: 190px;
                        height: 52px;
                        margin: 0 auto;
                        &::before{
                            content: ' ';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            opacity: 0.06;
                            border-radius: 40px;
                            background: #FFFFFF;
                        }
                        .button-purchase-link{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            color:#FFFFFF;
                            z-index: 2;
                        }
                    }
                }
            }
        }
        .card{
            position: relative;
            width: 257px;
            height: 457px;
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0.11;
                background: #FFFFFF;
            }
            .fork-subscription-pricing-cards-card-title{
                position: relative;
                display: flex;
                justify-content: center;
                height: 97px;
                width: 100%;
                color: #FFFFFF;
                z-index: 2;
                &::before{
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0.06;
                    background: #FFFFFF;
                }
                p{
                    @include fontStyle('Montserrat', 400, 24px, 24px);
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    z-index: 2;
                }
            }
            .fork-subscription-pricing-mainText{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 30px;
                z-index: 2;
                .price{
                    display: flex;
                    @include fontStyle('Montserrat', 700, 60px, 57px);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &:before{
                        content: '$';
                        font-weight: 400;
                    }
                }
                .date-description{
                    @include fontStyle('Montserrat', 400, 16px, 18px);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding-top: 20px;
                }
                .line-wrapper{
                    width: 100%;
                    margin: 38px auto 0px auto;
                    .line{
                        margin: 0 auto;
                        height: 5px;
                        width: 60px;
                        background-color: #8D81AC;
                    }
                }
                .united-section{
                    height: 155px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .subscription-decription{
                        @include fontStyle('Montserrat', 400, 16px, 18px);
                        color: #FFFFFF;
                        padding-top: 36px;
                        text-align: center;
                        max-width: 210px;
                    }
                    .button-purchase{
                        //margin-top: 62px;
                        position: relative;
                        @include fontStyle('Montserrat', 400, 15px, 15px);
                        width: 163px;
                        height: 45px;
                        margin: 0 auto;
                        &::before{
                            content: ' ';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            opacity: 0.06;
                            border-radius: 50px;
                            background: #FFFFFF;
                        }
                        .button-purchase-link{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            color:#FFFFFF;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
}
@import '_media.scss';